/* Portfolio website style sheet, Version 1 design */ 

/*Fonts
  Choose body font, currently Times and Arial;
  Menlo for all code 
*/


@font-face {
    font-family: "menlo";
    src: url("Menlo-Regular.ttf");
}
/* Main */
html {
    scroll-behavior: smooth;
    scroll-padding: 175px;
}
body {
    background-color: cornsilk;
    margin: 0;
    padding: 0;
}

/* General Containers */ 
.top {
    margin-top: 0px;
    width: 750px;
    height: auto;
    margin: auto;
    padding-top: 0px;
    overflow: hidden;
    background-color: cornsilk;
}
.toptxt {
    margin-left: 0;
    position: fixed;
    background-color: cornsilk;
    width: 750px;
    padding-top: 10px;
}

.container {
    margin-top: 30px;
    max-width: 600px;
    height: auto;
    margin: auto;
    padding-top: 175px;
    overflow: scroll;
}
.projectcontainer {
    max-width: 575px;
    height: auto;
    margin-left: 25px;
}
.paracontainer {
    max-width: 500px;
    height: auto;
    margin-left: 25px;
}
.footer{
  background: blanchedalmond;
  text-align: center;
}

/* Typefaces */
h1{
    color: maroon;
    text-align: left;
    font-family: 'menlo', Arial, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
}
h2{
    color: maroon;
    font-family: 'Arial', monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
h3{
    color: maroon;
    font-family: 'menlo', monospace;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 14px;
    text-align: justify;
}
h4{
    color: maroon;
    font-family: 'Arial', monospace;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
}
.bubble{
    color: cornsilk;
    background-color: maroon;
    padding: 1px 5px;
    margin-right: 2px;
    display: inline;
    text-decoration: none;
    text-align: justify;

}
p{
    font-family: 'Arial', 'Menlo', 'Times New Roman', monospace;
    font-size: 15px;
    color:darkslategrey;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 17px;
    text-align: justify;
}
a{
    color: maroon;
    text-decoration: none;
}
a:hover{
    color: cornsilk;
    background-color: maroon;
}

/* Hideable Areas 
see https://www.w3schools.com/howto/howto_js_collapsible.asp
*/

/* Button */
.colbut {
  background-color: blanchedalmond;
  color: maroon;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: 'Menlo', 'Arial';
  font-size: 15px;
  padding-left: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: maroon;
  color: cornsilk;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding-top: 0 20px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  background-color: blanchedalmond;
  max-height: 0;
  transition: max-height 0.2s ease-out;
} 

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 300px) {
  .column {
    width: 100%;
  }
}